/* Utility */
.newLine {
  flex-basis: 100%;
  height: 0;
}

/* Headings */
h3 {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #00cc00;
}

/* Links */
a {
  color: #e0d204;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Global Styles */
body {
  margin: 0;
  color: #00dd00;
  padding: 0.5rem;
  background-color: #202124;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* Container */
.container {
  z-index: 1;
  padding: 0 0.5rem;
  position: relative;
  max-width: 80%;
  margin: 0.5rem auto;
}

/* Background Canvas */
#backgroundCanvas {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  position: fixed;
  height: 100vh;
}

/* Category Filter */
.categoryFilter {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-end;
}

/* Description */
.description {
  max-height: 15em;
  overflow: hidden;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.description.expanded {
  max-height: none;
  -webkit-line-clamp: unset;
}

/* Version Select */
.version-select {
  width: 10ch;
  margin: 0.8rem 0;
}

.version-select option {
  max-width: 10ch;
}

/* Latest Version Text */
.latestVersionText {
  font-size: small;
  font-weight: bold;
  color: #00dd00;
}

/* Firmware List */
#firmware-list {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Firmware Details */
.firmware-details {
  flex: 1;
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
  border-radius: 20px;
  border: 1px solid #00cc00;
}

.firmware-details h2 {
  margin: 0;
}

/* Buttons */
.download-button {
  margin: 0.5rem;
  cursor: pointer;
  align-self: center;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  color: #00dd00;
  background-color: #303134;
  border: 2px solid #00dd00;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #292a2c;
}

/* Overlay */
.overlay {
  z-index: 1;
  display: none;
  padding: 1rem;
  cursor: pointer;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  background: rgba(0, 180, 0, 0.7);
  transition: background 0.3s;
}

.overlay:hover {
  text-decoration: underline;
  background: rgba(0, 100, 0, 0.9);
}

/* Version Div */
.version-div {
  text-align: right;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

/* Firmware Card */
.firmware-card {
  padding: 2rem;
  flex-wrap: wrap;
  display: flex;
  border-radius: 20px;
  word-break: break-word;
  align-items: center;
  justify-content: center;
  border: 5px dotted #00cc00;
  background-color: rgba(32, 33, 36, 0.75);
}

.firmware-card img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  border: 1px solid #00cc00;
}

/* Responsive Design */
@media (max-width: 1205px) {
  .container {
    padding: 0 0.5rem;
    max-width: 100%;
  }

  #firmware-list {
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0 0.5rem;
    max-width: 100%;
  }

  #firmware-list {
    gap: 1.5rem;
    grid-template-columns: 1fr;
  }
}
